/* Universals */
*{
    /* color:rgb(31, 30, 30); */
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

html{
    scroll-behavior: smooth;
}


/* IDs */

button{
    color:white;
    background-color: #3882f6;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
}

button:hover{
    background-color: #0a4199;
}

/* CLASSES */

/* Flexboxes */
.container-center{
    display: block;
    max-width: 60%;
    margin: auto;
    padding:40px;
}

.container-call{
    display: block;
    max-width: 60%;
    margin: auto;
    padding:40px;
    background-color: #3882f6;
    border-radius: 16px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.flex-item{
    flex-direction: row;
    margin: 20px;
}

/* Images */
.mini-img{
    border: 3px solid #3882f6;
    margin-bottom: 8px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}


/* fonts */
.hero-logo-txt{
    font-size: 24px;
    color:#f9faf8;
}

.hero-main-txt{
    font-size: 48px;
    color:#f9faf8;
    font-weight: 800;
}

.info-header-txt{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.hero-secondary-txt{
    font-size: 18px;
    color:#e5e7eb;
}

.quote-txt{
    font-size: 36px;
    color: #1f2937;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.quote-sig-txt{
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

/* background colors */
.dark-bg{
    background-color: #1f2937;
}

.light-bg{
    background-color: #e5e7eb;
}

.call-to-action{
    background-color: #3882f6;
}

